<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Listenersa.xml">
    <classes>
      <class name="WebDriverDemos.ListenerTestNG_B_Main"/>
    </classes>
  </test> <!-- Listenersa.xml -->
</suite> <!-- Suite -->
